.meetingList {
	height: 100%;
	width: 100%;

	.header {
		height: calc(65px + 2rem);

		.meetingBtns {
			width: 100%;
			height: 65px;
			display: flex;
			justify-content: space-around;
			align-items: center;

			.meetingBtn {
				width: 60px;
				height: 60px;
				cursor: pointer;

				.iconContainer {
					position: relative;
					left: 2.5px;
					width: 55px;
					height: 55px;
					margin: 0px;
					text-align: center;
					background-image: linear-gradient(-45deg, #00c8ff 25%, #005bea 100%);
					border-radius: 12px;

					span {
						color: white;
						position: relative;
						bottom: 0px;
						font-size: 35px;
					}
				}

				.textContainer {
					width: 100%;
					text-align: center;
				}

				&:hover {
					.iconContainer {
						background-image: linear-gradient(-45deg, #4dd8ff 25%, #3b7de7 100%);
					}

					.textContainer {
						color: #005bea;
					}
				}
			}
		}
	}

	.list {
		width: 100%;
		height: calc(100% - 65px - 2rem);
	}
}
