.meetingMember {
	position: relative;
	margin-block: 0.2rem;
	transition: 100ms;

	.meetingMemberVideo {
		cursor: pointer;
		transition: 200ms;
		outline: none;
		border: 1px solid rgba($color: #000000, $alpha: 0);
	}

	.meetingMemberVideo:hover {
		cursor: pointer;
		border: 1px solid #fafafa;
	}

	.memberName {
		color: #fafafa;
		position: absolute;
		bottom: 10%;
		right: 2%;
		background-color: #101010;
		max-width: 9em;
		padding-inline: 0.3em;
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		user-select: none;
	}
}

.meetingMember:active {
	transform: scale(0.99);
}
