.chatInputControlPanel {
	width: 100%;
	height: calc(2rem + 1px);
	border-block: 1px solid #cccccc;
	background-color: whitesmoke;
	display: flex;

	.chatInputControlButtons {
		height: 2rem;
		width: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		transition: 150ms;
		cursor: pointer;

		&:hover {
			background-color: #ccccccff;
		}
	}
}

.chatInputContentDiv {
	width: 100%;
	height: calc(100% - 2rem - 1px);
	background-color: white;
	outline: none;
	padding: 0.625rem;
	font-size: 1rem;

	img {
		width: 1.25em;
		height: 1.25em;
	}
}

.emojisContainer {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 10.25rem;
	height: 8rem;
	overflow-y: scroll;

	.emojiBlock {
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: #cccccc80;
		}

		.emoji {
			width: 1.725rem;
			height: 1.725rem;
			background-size: cover;
		}
	}
}
