.userInfo {
	border-top: 1px solid #ccc;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1rem;

	&Container {
		position: relative;
		display: flex;
		height: calc(100% - 2rem);
		overflow-y: auto;

		& > div {
			padding: 1rem;
			position: relative;
			height: 100%;

			&:first-child {
				width: fit-content;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: fit-content;

				> .userInfoCopyRight {
					font-size: 12px;
					text-align: center;
					margin-top: auto;

					> p {
						margin: 0%;
					}
				}
			}

			&:last-child {
				flex-grow: 1;

				.functionTools {
					margin-top: 1rem;
					width: 100%;
					height: fit-content;
				}
			}
		}
	}
}
