.userInfo {
	border-top: 1px solid #ccc;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1rem;

	&Container {
		position: relative;
		display: flex;
		height: calc(100% - 2rem);
		overflow-y: auto;

		& > div {
			padding: 1rem;
			position: relative;
			height: 100%;

			&:first-child {
				width: fit-content;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: fit-content;

				> .userInfoCopyRight {
					font-size: 12px;
					text-align: center;
					margin-top: auto;

					> p {
						margin: 0%;
					}
				}
			}

			&:last-child {
				flex-grow: 1;

				& > div.mainInfo {
					width: 100%;
					min-height: 10rem;
					height: 20vw;
					max-height: 15rem;
					padding-inline: 1rem;
					border-radius: 15px;
					background-repeat: no-repeat;
					background-size: cover;
					color: white;
					display: flex;
					flex-direction: column;
					justify-content: center;
					box-shadow: inset 10px 10px 11px rgba(250, 252, 255, 0.48),
						inset -10px -10px 15px rgba(6, 4, 1, 0.22);

					& > div {
						&.userInfoDescriptions {
							font-size: 1.125rem;
						}

						&.email {
							color: #afafaf;
						}
					}
				}
			}
		}
	}
}
