.meetingChatMessage {
	width: 100%;
	height: fit-content;
	padding: 0.25em;

	&Sender span {
		color: dodgerblue;
		font-weight: bold;
	}

	&Content {
		text-indent: 0.5em;
		font-size: 0.825rem;
	}
}
