.rippleButton {
    position: relative;
    transition: 500ms;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    user-select: none;
    color: white;
    border: none;
    overflow: hidden;
    cursor: pointer;
    padding-inline: 0.25rem;
    padding-block: 0.15rem;

    .waves-animation {
        position: absolute;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        opacity: 0;
        background: rgba(255, 255, 255, 0.3);
        transition: all 0.7s ease-out;
        transition-property: transform, opacity, -webkit-transform;
        -webkit-transform: scale(0);
        transform: scale(0);
        pointer-events: none;
    }

    &-disabled {
        cursor: not-allowed
    }
}