.meetingMember {
	position: relative;
	margin-block: 0.2rem;

	.meetingMemberVideo {
		cursor: pointer;
		transition: 200ms;
	}

	.meetingMemberVideo:active {
		transform: scale(0.99);
	}

	.meetingMemberVideo:hover {
		cursor: pointer;
		box-shadow: 0px 0px 0.2rem #fff;
	}

	.memberName {
		color: #fafafa;
		position: absolute;
		bottom: 10%;
		right: 2%;
		background-color: #101010;
		max-width: 9em;
		padding-inline: 0.3em;
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		user-select: none;
	}
}
