.friendBubbles {
	width: 100%;
	display: flex;
	padding: 0.25rem;
	align-items: center;
	user-select: none;
	border-bottom: 1px solid #e3e3e3f4;

	.avatarContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.textContainer {
		margin-inline: 5px;
		flex-grow: 1;
		max-width: calc(100% - 45px - 3rem);

		.userName {
			font-size: 16px;
			font-weight: bold;
		}
		.newestMessage {
			font-size: 12px;
			overflow-x: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			min-height: calc(1em + 6px);
		}
	}

	.rightDiv {
		margin-left: auto;
		margin-right: 3px;
		flex-grow: 1;
		text-align: right;
	}

	&:hover {
		background-color: #e3e3e3f4;
	}
}
