.mainBody {
	width: 100%;
	height: 100%;
	background-color: #eaeaea;

	.content {
		position: absolute;
		left: 4rem;
		top: 2rem;
		/* background-color: #eaeaea; */
		height: calc(100% - 2rem);
		width: calc(100% - 4rem);

		.ant-modal-mask,
		.ant-modal-wrap {
			height: calc(100% - 2rem);
			top: 2rem;
		}
	}

	.content.ant-scrolling-effect {
		.ant-image-preview-mask,
		.ant-image-preview-wrap {
			height: calc(100% - 2rem);
			top: 2rem;
		}
	}
}
