@import '~antd/dist/antd.css';

* {
	margin: 0;
	padding: 0;
}

.App {
	position: absolute;
	left: 1.25px;
	top: 1.25px;
	width: calc(100vw - 2.5px);
	height: calc(100vh - 2.5px);
	overflow: hidden;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar {
	width: 0.25rem; // 纵向滚动条宽度
	height: 0.25rem; // 横向滚动条宽度
}

::-webkit-scrollbar-thumb {
	background-color: #a8a8a8;
	border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
	background-color: #eaeaea;
}
