@import '~antd/dist/antd.css';

@font-face {
	font-family: 'FZZJ-TBPYTJW';
	src: url('../FZZJ-TBPYTJW.TTF');
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba($color: #000000, $alpha: 0);
}

.App {
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
	width: calc(100vw - 0.2rem);
	height: calc(100vh - 0.2rem);
	overflow: hidden;
	box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar {
	width: 0.25rem; // 纵向滚动条宽度
	height: 0.25rem; // 横向滚动条宽度
}

::-webkit-scrollbar-thumb {
	background-color: #a8a8a8;
	border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
	background-color: #eaeaea;
}

#mainContent > div > div > div.ant-modal-wrap.ant-modal-centered {
	width: calc(100vw - 0.2rem);
	height: calc(100vh - 0.2rem);
}
