.dateDiv {
	width: 100%;
	text-align: center;
	font-size: 0.75rem;
	color: #3c3c3c;
	margin: 0%;
	padding: 0.125rem;
}

.chatMessageContainer {
	width: 100%;
	padding: 0.25rem;
	font-size: 1rem;
	display: flex;

	.chatMessageBubbles {
		padding-block: 0.25rem;
		padding-inline: 0.725rem;
		position: relative;
		margin-inline: 0.75rem;
		width: fit-content;
		max-width: 65%;
		border-radius: 0.5rem;
		word-break: break-word;

		img.emoji {
			height: 1.25rem;
			width: 1.25rem;
			cursor: text;
			-webkit-user-drag: none;
		}

		&::before {
			content: '';
			position: absolute;
			border: 0.5rem solid rgba($color: #000000, $alpha: 0);
			top: 0.5rem;
		}
	}

	&.chatMessageOthers {
		.chatMessageBubbles {
			background-color: #dcdcdc;

			&::before {
				border-right: 0.5rem solid #dcdcdc;
				left: -1rem;
			}
		}
	}

	&.chatMessageSelf {
		flex-direction: row-reverse;

		.chatMessageBubbles {
			background-color: #30beff;
			color: white;

			&::before {
				border-left: 0.5rem solid #30beff;
				right: -1rem;
			}
		}
	}
}
